@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Regular.eot");
  src: local("../fonts/SF Pro Display Regular"),
    local("../fonts/SFProDisplay-Regular"),
    url("../fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Regular.woff") format("woff"),
    url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Bold.eot");
  src: local("../fonts/SF Pro Display Bold"),
    local("../fonts/SFProDisplay-Bold"),
    url("../fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProDisplay-Bold.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Bold.woff") format("woff"),
    url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Heavy.eot");
  src: local("../fonts/SF Pro Display Heavy"),
    local("../fonts/SFProDisplay-Heavy"),
    url("../fonts/SFProDisplay-Heavy.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProDisplay-Heavy.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Heavy.woff") format("woff"),
    url("../fonts/SFProDisplay-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

:root {
  --main-color: #333333;
  --secondary-color: #eb5757;
}

.page {
  margin: 0;
  padding: 0;
  font-family: "SFProDisplay";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: black;
  background-image: url("../img/mothership.png"),
    url("../img/rolling_stones.png");
  background-repeat: no-repeat;
  background-position: left 50px top 545px, right -100px top 1280px;
}

.page-header {
  display: flex;
  flex-direction: column;
  min-width: inherit;
  height: 576px;
  margin-bottom: 190px;
  color: white;
  background-color: #000000;
  background-image: url("../img/header_background.jpg");
  background-repeat: no-repeat;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--main-color);
  opacity: 0.99;
  transition: background-color 250ms ease;
}

.page .sticky-header.transparent-background {
  background-color: transparent !important;
}

.sticky-header .theme-toggle-box {
  position: absolute;
  top: 24px;
  left: 24px;
}

#toggle-theme {
  display: none;
}

.sticky-header .toggle-theme-label {
  display: flex;
  padding: 6px;
  cursor: pointer;
  filter: contrast(0) brightness(2);
  transition: filter 250ms ease, background-color 500ms ease;
}

.sticky-header .toggle-theme-label.transparent-background {
  background-color: transparent !important;
}

.sticky-header .toggle-theme-label:hover {
  filter: contrast(0.5) brightness(1.1);
}

.sticky-header .toggle-theme-label:active {
  filter: contrast(0.5) brightness(1.1) opacity(0.8);
}

.sticky-header .toggle-theme-picture {
  display: block;
  width: 16px;
  height: 16px;
}

.sticky-header .navigation {
  display: flex;
  width: 972px;
  margin: 0 auto;
  padding: 24px 25px;
}

#toggle-burger {
  display: none;
}

.burger-open {
  width: 16px;
  height: 16px;
  padding: 6px;
  cursor: pointer;
  transition: filter 500ms ease, background-color 500ms ease;
}

.sticky-header .burger-open.transparent-background {
  background-color: transparent !important;
}

.burger-open img {
  display: block;
}

.burger-open:hover {
  filter: brightness(0.7);
}

.burger-open:active {
  filter: brightness(0.5);
}

.navigation-list {
  display: flex;
  padding: 0;
  margin: 0 0 0 auto;
  list-style: none;
}
.navigation-list-item {
  display: flex;
}

.navigation-list-item-link {
  margin: auto 0 auto 30px;
  list-style: none;
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: white;
  transition: all 500ms ease;
}

.navigation-list-item-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: white;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.navigation-list-item-link:hover::after {
  width: 100%;
  transform: translateX(-50%) scaleX(1);
}

.navigation-list-item-link:active {
  filter: brightness(0.5);
}

.header-main {
  position: relative;
  padding-left: 60px;
  margin: 124px auto 0;
}

.page-header .authors-name {
  font-weight: 900;
  font-size: 100px;
  line-height: 120px;
  margin: 48px 0 24px 0;
}

.page-header .authors-name::before {
  content: "<title>";
  position: absolute;
  top: 0;
  left: 60px;
  margin-right: 40px;
  font-weight: Bold;
  font-size: 18px;
  line-height: 24px;
}

.page-header .authors-name::after {
  content: "< ⁄ title>";
  position: relative;
  top: 76px;
  left: -622px;
  margin-right: 40px;
  font-weight: Bold;
  font-size: 18px;
  line-height: 24px;
}

.header-main-bottom {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.header-main-bottom .specialization {
  margin: 0 80px 0 140px;
  font-size: 30px;
  line-height: 36px;
}

.navigation-contact-me {
  display: flex;
  transition: filter 500ms ease;
}

.navigation-contact-me-link {
  width: 100px;
  padding: 8px 24px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  background-color: white;
  color: var(--main-color);
  transition: all 500ms ease;
}

.navigation-contact-me-link:hover {
  background: rgba(0, 0, 0, 0);
  color: white;
  box-shadow: inset 0 0 0 3px white;
}

.navigation-contact-me:active {
  filter: brightness(0.7);
}

.navigation-contact-me::after {
  content: "";
  position: relative;
  border: 20px solid transparent;
  border-left: 20px solid white;
}

.profile-pic {
  margin: 70px auto 0;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.main-content {
  display: flex;
  flex-direction: column;
}

.about {
  width: 960px;
  padding: 0 25px;
  margin: 60px auto 0;
}

.about-text-and-skills {
  margin: 40px 82px;
}

.about-text::before {
  content: "<p>";
  display: block;
  margin: 24px 0 32px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: Bold;
}

.about-text::after {
  content: "< ⁄ p>";
  display: block;
  margin: 24px 0 32px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: Bold;
}

.skills-list {
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
}

.skills-list-item {
  width: 800px;
  color: white;
}

.skills-list-item-filling {
  padding: 8px 50px 8px 16px;
  background-color: var(--main-color);
  color: white;
}

.skills-list-item-filling {
  margin: 0;
}

.skills-list-item:not(:last-of-type) {
  margin-bottom: 16px;
}

.skills-list-item:first-of-type .skills-list-item-filling {
  width: 30%;
}

.skills-list-item:nth-of-type(2) .skills-list-item-filling {
  width: 60%;
}

.skills-list-item:nth-of-type(3) .skills-list-item-filling {
  width: 35%;
}

.skills-list-item:nth-of-type(4) .skills-list-item-filling {
  width: 15%;
}

.skills-list-item:nth-of-type(5) .skills-list-item-filling {
  width: 25%;
}

.skills-list-item:nth-of-type(6) .skills-list-item-filling {
  width: 40%;
}

.skills-list-item:nth-of-type(7) .skills-list-item-filling {
  width: 30%;
}

.skills-list-item:nth-of-type(8) .skills-list-item-filling {
  width: 55%;
}

.skills-list::before {
  content: "<skills>";
  display: block;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 24px;
  font-weight: Bold;
}

.skills-list::after {
  content: "< ⁄ skills>";
  display: block;
  margin: 24px 0 40px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: Bold;
}

.about-text-and-skills::before {
  content: "<about me>";
  position: relative;
  right: 82px;
  font-size: 18px;
  line-height: 24px;
  font-weight: Bold;
}

.about-text-and-skills::after {
  content: "< ⁄ about me>";
  position: relative;
  right: 82px;
  font-size: 18px;
  line-height: 24px;
  font-weight: Bold;
}

.my-works {
  display: flex;
  width: auto;
  margin: 240px auto 0;
}

.my-works .scroll-left-button,
.my-works .scroll-right-button {
  position: relative;
  top: 50px;
  height: 350px;
  padding: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 500ms ease;
}

.my-works .scroll-left-button:hover,
.my-works .scroll-right-button:hover {
  filter: brightness(0.65);
}

.my-works .scroll-left-button:active,
.my-works .scroll-right-button:active {
  filter: brightness(0.65) opacity(0.7);
}

.my-works-menu {
  display: flex;
  padding: 0 0 10px 0;
  margin-bottom: 32px;
  border-bottom: solid 1px #e8e8e8;
  list-style: none;
  color: #b4b4b4;
}

.my-works-menu-item {
  transition: margin 300ms ease-in-out;
}

.my-works-menu-item:not(:last-of-type) {
  margin-right: 40px;
}

.my-works-menu-item button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  font-weight: Bold;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  color: #b4b4b4;
}

.my-works-menu .my-works-menu-item:not(.selected) {
  transition: all 500ms ease;
}

.my-works-menu .my-works-menu-item:not(.selected):hover {
  filter: brightness(0.7);
}

.my-works-menu .my-works-menu-item:not(.selected):active {
  filter: brightness(0.7) opacity(0.5);
}

.my-works-menu .selected button {
  color: var(--secondary-color);
}

.my-works-menu .selected button::after {
  content: "";
  display: block;
  position: relative;
  top: 11px;
  border-top: solid 3px var(--secondary-color);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.projects-list {
  display: flex;
  width: 964px;
  padding: 0;
  overflow: hidden;
  list-style: none;
  gap: 20px;
}

.projects-list-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 500ms ease;
}

.projects-list-item:hover {
  filter: contrast(1.2);
}

.projects-list-item img {
  border-radius: 2%;
}

.projects-list-item .projects-list-item-headding {
  margin: 16px auto 0 auto;
  font-size: 16px;
  line-height: 24px;
  font-weight: Bold;
}

.projects-list-item .projects-list-item-discription {
  margin: 8px auto 0 auto;
  color: #b4b4b4;
}

.social {
  margin-top: 100px;
  background-color: #f6f6f6;
}

.social-navigation {
  display: flex;
}

.social-list {
  display: flex;
  padding: 0;
  margin: 75px auto;
  list-style: none;
}

.social-list-item {
  height: 50px;
  transition: all 500ms ease;
}

.social-list-item:hover {
  filter: drop-shadow(0 0 2px var(--main-color));
}

.social-list-item:nth-of-type(2):hover {
  filter: drop-shadow(0 0 1px var(--main-color));
}

.social-list-item:active {
  filter: drop-shadow(0 0 2px var(--main-color)) opacity(0.7);
}

.social-list-item:nth-of-type(2):active {
  filter: drop-shadow(0 0 1px var(--main-color)) opacity(0.7);
}

.social-list-item:not(:last-of-type) {
  margin-right: 40px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  width: 473px;
  margin: 100px auto 0;
}

.contact-me .contact-me-headding {
  margin: 0 0 40px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contact-me label:not([for="contact-me-checkbox"]) {
  display: block;
  margin: 0 0 8px;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}

.contact-me input:not(#conact-me-checkbox, [type="submit"]),
.contact-me textarea {
  width: 440px;
  margin: 0 0 24px 0;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 16px;
  font-family: "SFProDisplay";
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color);
  transition: filter 500ms ease;
}

.contact-me input:not(#conact-me-checkbox, [type="submit"]):hover {
  filter: brightness(0.97);
}

.contact-me textarea:hover {
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.05)) brightness(0.98);
}

.contact-me input:not(#conact-me-checkbox, [type="submit"]):focus {
  border: solid 1px rgba(0, 0, 0, 0.5);
  outline: none;
  filter: brightness(0.98);
}

.contact-me textarea {
  height: 24px;
  max-height: 128px;
  resize: none;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.05));
}

.contact-me textarea:focus {
  border: solid 1px rgba(0, 0, 0, 0.5);
  outline: none;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.05)) brightness(0.98);
}

.contact-me input::placeholder,
.contact-me textarea::placeholder {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #b4b4b4;
}

.checkbox-container {
  display: flex;
  position: relative;
  margin: 0 0 40px;
}

.contact-me input[type="checkbox"] {
  display: none;
}

.checkbox-container .custom-checkbox {
  padding: 11px;
  margin-right: 8px;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  cursor: pointer;
}

.custom-checkbox::before {
  content: "";
  display: flex;
  position: absolute;
  left: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-image: url("../img/check_mark.svg");
  background-repeat: no-repeat;
  transform: scale(0);
  transition: 100ms ease-in;
}

.contact-me input[type="checkbox"]:checked + .custom-checkbox::before {
  transform: scale(1);
}

.checkbox-container label {
  display: flex;
  font-size: 16px;
  line-height: 24px;
  color: #b4b4b4;
  cursor: pointer;
}

.checkbox-container label a {
  margin: 0;
  color: #2d9cdb;
}

.checkbox-container label div,
.checkbox-container label span,
.checkbox-container label a {
  transition: opacity 250ms ease;
}

.checkbox-container label div:hover,
.checkbox-container label span:hover,
.checkbox-container label a:hover {
  opacity: 0.8;
}

.checkbox-container label div:active,
.checkbox-container label span:active,
.checkbox-container label a:active {
  opacity: 0.6;
}

.submit-box {
  display: flex;
  width: 180px;
  height: 40px;
  margin: 0 auto;
}

.submit-box::after {
  content: "";
  position: relative;
  border: 20px solid transparent;
  border-left: 20px solid var(--main-color);
}

.submit-box .contact-me-submit {
  width: 160px;
  height: 40px;
  padding: 8px 56px 8px 24px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background-color: var(--main-color);
  background-image: url("../img/paper_airplane.svg");
  background-repeat: no-repeat;
  background-position: right 24px top 10px;
  cursor: pointer;
  transition: all 500ms ease;
}

.submit-box .contact-me-submit:hover {
  padding-right: 24px;
  color: var(--main-color);
  background: rgba(0, 0, 0, 0);
  background-image: url("../img/paper_airplane.svg");
  background-repeat: no-repeat;
  background-position: right -15px top -15px;
  box-shadow: inset 0 0 0 3px var(--main-color);
}

.submit-box:active {
  filter: opacity(0.7);
}

.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 150px;
  flex-wrap: wrap;
  background-color: var(--main-color);
}

.page-footer p,
.page-footer a {
  padding: 37px 47px;
  margin: auto 0;
  text-decoration: none;
  color: white;
}

.page-footer .authors-name {
  font-size: 44px;
  line-height: 44px;
  font-weight: 900;
  transition: filter 500ms ease;
}

.page-footer .authors-name:hover {
  filter: brightness(0.75);
}

.page-footer .authors-name:active {
  filter: brightness(0.5);
}

/* Бургер-меню */

.header-burger {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -750px;
  z-index: 10;
  width: 100%;
  height: 740px;
  font-size: 100px;
  line-height: 119px;
  font-weight: 900;
  color: white;
  background-color: var(--main-color);
  transition: all 500ms ease;
}

.header-burger .burger-off-box {
  display: flex;
  width: 972px;
  margin: 0 auto;
}

.header-burger #toggle-burger-off {
  display: none;
}

.header-burger .burger-off {
  display: flex;
  width: 16px;
  height: 16px;
  padding: 6px;
  margin: 24px auto 24px 0;
  cursor: pointer;
  transition: filter 500ms ease;
}

.header-burger .burger-off:hover {
  filter: brightness(0.7);
}

.header-burger .burger-off:active {
  filter: brightness(0.5);
}

.header-burger .menu-list {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-burger .menu-list-item {
  margin: 0 auto;
  transition: filter 500ms ease;
}

.header-burger .menu-list-item:hover {
  filter: brightness(0.7);
}

.header-burger .menu-list-item:active {
  filter: brightness(0.5);
}

.header-burger .menu-list-item:not(:last-of-type) {
  margin-bottom: 25px;
}

.header-burger .menu-list-item a {
  text-decoration: none;
  color: white;
}

/* scrollbar */
/*  WebKit-browsers */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  }

  body::-webkit-scrollbar {
    width: 12px;
  }

  body::-webkit-scrollbar-track {
    background-color: #333333;
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

/* Firefox */
@-moz-document url-prefix() {
  body {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  }

  body::-moz-scrollbar {
    width: 12px;
  }

  body::-moz-scrollbar-track {
    background-color: #333333;
  }

  body::-moz-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  body::-moz-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

/* tap highlight */

.page {
  -webkit-tap-highlight-color: transparent;
}
